//------------------------------------------------------------------------------
// FOOTER
//------------------------------------------------------------------------------

footer {
  padding-top: 0%;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 700px) {
    padding-top: 20%;
  }

  img {
    width: 15%;
    height: auto;

    // Figuren ændres i dark-theme
    // Dette kræver ny størrelse på den
    [data-theme="dark"] & {
      width: 10%;
    }

    @media (max-width: 700px) {
      width: 30%;

      // Figuren ændres i dark-theme
      // Dette kræver ny størrelse på den
      [data-theme="dark"] & {
        width: 20%;
      }
    }
  }
}
