//------------------------------------------------------------------------------
// FORMS
//------------------------------------------------------------------------------

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.fig {
  color: $color-grey;
}

//------------------------------------------------------------------------------
// General input styling

.rounded-corners {
  @extend %padding10;
  border-radius: 200px;
  display: block;
}

input {
  width: 100%;
}

*:focus-visible,
*:focus,
textarea:focus-visible {
  border: 3px solid;
  border-color: $color-purple;
  box-shadow: 0 0 3px $color-lime; /* Add a box shadow to mimic the focus effect */
  outline: none !important;
}
