//------------------------------------------------------------------------------
// HEADER
//------------------------------------------------------------------------------

header {
  padding: 20px 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  .logo {
    width: 130px;
  }
}
