//------------------------------------------------------------------------------
// MAIN
//------------------------------------------------------------------------------

main {
  margin-top: 20vh;
  margin-right: 20%;
  margin-left: 20%;
}
