//------------------------------------------------------------------------------
// TABLES
//-----------------------------------------------------------------------------

table {
  @extend %grey-border;
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;

  &:not(.calender-table) {
    margin-top: 40px;
  }

  // Tabellen på index.js skal være blå i toppen
  .table-day {
    @include blueCombo();
  }

  // Denne header er i calender.js
  // Headeren viser client(kunde)
  .client-header {
    @extend %data-theme-transition-bg-only;
    background-color: $color-grey-light;
    font-weight: 500;

    [data-theme="dark"] & {
      background-color: $color-grey-dark;
      border: none;
    }
  }

  th,
  td {
    @extend %padding10;
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  table {
    overflow: hidden;
    display: inline-block;
  }

  td,
  th {
    padding: 10px;
    position: relative;
  }

  tbody {
    tr {
      //Row
      td:not(.not-hover) {
        @media (min-width: 700px) {
          //Hover virker kun fra 700px og op
          &:hover {
            &::before {
              background-color: #faf8f6;
              content: "";
              height: 100%;
              left: -5000px;
              position: absolute;
              top: 0;
              width: 10000px;
              z-index: -2;
            }
          }
        }
      }

      //Column
      td:not(.not-hover) {
        @media (min-width: 700px) {
          //Hover virker kun fra 700px og op
          &:hover {
            cursor: pointer;

            &::after {
              background-color: #faf8f6;
              content: "";
              height: 10000px;
              left: 0;
              position: absolute;
              top: -5000px;
              width: 100%;
              z-index: -1;
            }
          }
        }
      }

      [data-theme="dark"] & {
        @media (min-width: 700px) {
          //Hover virker kun fra 700px og op

          td:hover::before {
            background-color: darken($color-grey-dark, 10%);
          }
          td:hover::after {
            background-color: darken($color-grey-dark, 10%);
          }
        }
      }
    }
  }

  table tbody tr td {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  tr th:first-child,
  tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 4;
  }

  // Calender.js tabel
  .white-bg {
    @extend %data-theme-transition-bg-only;
    background-color: $color-white;

    [data-theme="dark"] & {
      background-color: $color-black;
    }
  }

  //  Forside-tabel
  .blue-bg {
    @extend %data-theme-transition-bg-only;
    background-color: $color-blue;

    [data-theme="dark"] & {
      background-color: $color-blue-text;
    }
  }
}

// Her wrapper vi vores tabel i div
// Vi vil gerne kunne scrolle i den
.table-div {
  overflow-x: auto;
}

.total-hours {
  @extend %padding10;
  display: flex;
  justify-content: flex-end;

  .marked {
    margin-left: 1em;
  }

  &.hours-padding {
    margin-bottom: 20px;
  }
}

.calender-table {
  thead {
    * {
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
