//------------------------------------------------------------------------------
// TABLES
//------------------------------------------------------------------------------

table {
  @extend %grey-border;
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;

  &:not(.calender-table) {
    margin-top: 40px;
  }

  &.calender-table {
    margin-bottom: 40px;
  }

  .table-day {
    @include blueCombo();
  }

  .client-header {
    background-color: $color-grey-light;
    font-weight: 500;
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
  }

  th,
  td {
    @extend %padding10;
    text-align: left;
  }

  @media (max-width: 700px) {
    table tbody tr td {
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}

.total-hours {
  @extend %padding10;
  display: flex;
  justify-content: flex-end;

  .marked {
    margin-left: 1em;
  }
}
