//------------------------------------------------------------------------------
// LOGGED IN
//------------------------------------------------------------------------------

h1 {
  margin-bottom: 5%;
}

.title:not(.comment-title) {
  @extend %padding10;
  height: 100%;
  display: flex;
  align-items: center;

  &.comment-title {
    padding-left: 0;
  }
}

.comment {
  display: flex;
  flex-direction: column;

  textarea {
    @extend %padding10;
    border: 1px solid $color-grey;
    margin-bottom: 0;
    height: 100%;
    resize: none;
    width: 100%;
    height: 100%;
  }
}

//------------------------------------------------------------------------------
// Dropdown

.dropdown,
.hours {
  border: 1px solid $color-grey;
  margin-top: -1px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.dropdown-content-container {
  position: absolute;
  background-color: $color-white;
  z-index: 2;
  width: 100%;
}

.dropdown {
  cursor: pointer;
}

.dropdown-content {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: none;
  background-color: $color-white;
  padding: 12px 16px;
  z-index: 1;

  .display-content & {
    display: block;
  }
}

// .dropdown:hover .dropdown-content {
//   display: block;
// }

//------------------------------------------------------------------------------
// Input fields

.hours,
.comment-title,
.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="number"] {
  border: none;
  text-align: center;
  width: 60px;
  margin: 0;
  padding: 0;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.plus,
.minus {
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

//------------------------------------------------------------------------------
// Info box
.info-hover-container {
  position: relative;
  display: inline-block;
  margin: 10px 0px;
}

.hover-trigger {
  display: inline-block;
  padding: 5px;
  background-color: $color-grey;
  color: $color-white;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.hover-info {
  @extend %padding10;
  position: absolute;
  bottom: 110%;
  left: 0;
  // padding: 10px;
  background-color: $color-grey;
  border: 1px solid $color-white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
  color: $color-white;
}

.info-hover-container:hover .hover-info {
  visibility: visible;
  opacity: 1;
}

// Submit

.button-wrapper {
  // @extend %padding10;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
