//------------------------------------------------------------------------------
// LOGGED IN
//------------------------------------------------------------------------------

h1 {
  margin-bottom: 5%;
}

.title:not(.comment-title) {
  @extend %padding10;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.comment-title {
    padding-left: 0;
  }
}

.comment {
  display: flex;
  flex-direction: column;

  textarea {
    @extend %padding10;
    border: 1px solid $color-grey;
    margin-bottom: 0;
    height: 100%;
    resize: none;
    width: 100%;
    height: 100%;
  }

  //   textarea:focus-visible {
  //   /* Custom focus border color */
  //   border-color: $color-lime;
  //   box-shadow: 0 0 3px $color-lime; /* Add a box shadow to mimic the focus effect */
  //    outline: none !important;
  // }
}

//------------------------------------------------------------------------------
// Dropdown

.dropdown-wrapper {
  @media (max-width: 700px) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.dropdown,
.hours {
  border: 1px solid $color-grey;
  margin-top: -1px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.dropdown-content-container {
  position: absolute;
  background-color: $color-white;
  z-index: 2;
  width: 100%;

  // border: 1px solid $color-grey;
  // border-bottom: none;
}
[data-theme="dark"] {
  .dropdown-content-container,
  .dropdown-content {
    background-color: $color-black;
    color: $color-white;
  }
}
.dropdown {
  cursor: pointer;

  &:not(.display-content) {
    .arrow {
      transition: transform 0.15s ease-in-out;
    }

    &:hover {
      .arrow {
        transform: translateY(10%);
      }
    }
  }
}

.dropdown-content {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: none;
  background-color: $color-white;
  padding: 12px 16px;
  z-index: 2;
  border: 1px solid $color-grey;
  border-bottom: none;
}

.dropdown-content:last-child {
  border-bottom: 1px solid $color-grey;
}

.display-content {
  .dropdown-content {
    display: block;
    z-index: 2;

    // .arrow {
    //   transform: rotate(180deg) translateY(0%);
    //   transform-origin: center center;
    // }
  }
}

//------------------------------------------------------------------------------
// Input fields

.hours,
.comment-title,
.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="numbers"] {
  border: none;
  text-align: center;
  width: 60px;
  margin: 0;
  padding: 0;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}

input[type="numbers"] {
  -moz-appearance: textfield; //det her gør muligvis at vi ikke får numerisk keyborad op på tele...
}

input[type="numbers"]:focus-visible {
  outline: none !important;
}

.plus,
.minus {
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

//------------------------------------------------------------------------------
// Submit

.button-wrapper {
  // @extend %padding10;
  padding-top: 30px;
  display: flex;
  justify-content: center;

  button {
    @extend %padding10;
    border: none;
  }

  button[disabled] {
    pointer-events: none;
    background: none;
    color: $color-black;

    [data-theme="dark"] & {
      color: $color-white;
    }
  }

  button:not([disabled]) {
    @include limeCombo();
    cursor: pointer;
  }
}
