//------------------------------------------------------------------------------
// SIGN IN FORM
//------------------------------------------------------------------------------

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.signin-form,
input {
  border: 1px solid $color-grey;
}

.signin-form {
  padding: 40px;
}
.logo {
  margin-right: 20px;
}

input {
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 10px;
}

.signin-btn {
  background-color: $color-black;
  color: $color-white;
  border: none;
  width: 100%;
  padding: 10px;
}
