//------------------------------------------------------------------------------
// SUBMIT SCREEN
//------------------------------------------------------------------------------

.submit-screen {
  @extend %base-screen-padding;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  background: #c2ffc2;
  height: 100vh;
  width: 100vw;
  z-index: 1;

  button {
    border: none;
  }
}

.monday {
  @include peachCombo();

  button {
    @include peachCombo(dark);
  }
   .img_wrapper{

  img{
    width: 50%;
    height: 50%;    
  }
}
}

.tuesday {
  @include limeCombo();

  button {
    @include limeCombo(dark);
  }
   .img_wrapper{

  img{
    width: 50%;
    height: 50%;    
  }
}
}

.wednesday {
  @include roseCombo();

  button {
    @include roseCombo(dark);
  }
   .img_wrapper{

  img{
    width: 50%;
    height: 50%;    
  }
}
}

.thursday {
  @include blueCombo();

  button {
    @include blueCombo(dark);
  }

  .img_wrapper{

  img{
    width: 50%;
    height: 50%;    
  }
}
}

.friday {
  @include purpleCombo();

  button {
    @include purpleCombo(dark);
  }
   .img_wrapper{

  img{
    width: 50%;
    height: 50%;    
  }
}
}



