//------------------------------------------------------------------------------
// SUBMIT SCREEN
//------------------------------------------------------------------------------

.submit-screen {
  @extend %base-screen-padding;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  background: $color-white;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  
   

  button {
    border: none;
    z-index: 3;

     @media (max-width: 700px) {
      width: 100%;

  }
  }

  .img_wrapper {
    height: 100vh;
    width: 100vw;
    left: -60px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  img {
    width: 20%;
    padding-bottom: 45px;

  }

  p {
    margin-bottom: 40px;
  }

  &.monday {
    @include peachCombo();

    button {
      @include peachCombo(dark);
    }

    .img_wrapper {
      justify-content: flex-end;
      left: -60px;
    }
  }

  &.tuesday {
    @include limeCombo();

    button {
      @include limeCombo(dark);
    }
    .img_wrapper {
      justify-content: flex-start;
      left: 60px;
    }
  }

  &.wednesday {
    @include roseCombo();

    button {
      @include roseCombo(dark);
    }

    .img_wrapper {
      justify-content: flex-end;
      left: -60px;
    }
  }

  &.thursday {
    @include blueCombo();

    button {
      @include blueCombo(dark);
    }

    .img_wrapper {
      justify-content: flex-start;
      left: 60px;
    }
  }

  &.friday {
    @include purpleCombo();

    button {
      @include purpleCombo(dark);
    }

    .img_wrapper {
      justify-content: flex-end;
      left: -60px;
    }
  }
}
