//------------------------------------------------------------------------------
// SUBMIT SCREEN
//------------------------------------------------------------------------------

.submit-screen {
  @extend %base-screen-padding-submit;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;

  //Default er baggrund hvid. Fx i weekender
  background: $color-white;
  height: 100vh;
  width: 100vw;
  z-index: 5;

  [data-theme="dark"] & {
    //Default skifter baggrund til sort. Fx i weekender
    background: $color-black;
  }

  h1 {
    text-align: center;
  }

  .button-wrapper {
    justify-content: space-evenly;
  }

  button,
  a {
    border: none;
    z-index: 3;
    width: 100%;
  }

  button {
    margin-right: 1em;
  }

  // Denne holder på vores figur
  .img_wrapper {
    height: 100vh;
    width: 100vw;
    left: -60px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    // Figuren placeres anderledes/centreres i mobil
    @media (max-width: 700px) {
      position: static;
      justify-content: center;
      width: 100%;
      height: auto;
    }
  }

  //Regler for figur str.
  img {
    width: 20%;
    padding-bottom: 45px;

    @media (max-width: 700px) {
      width: 50%;
      padding-top: 45px;
      padding-bottom: 0;
    }
  }

  p {
    margin-bottom: 40px;
    @media (max-width: 700px) {
      margin-bottom: 15px;
    }
  }

  // &.klassenavn betyder at det yderste element(submit-screeen) OGSÅ har den klassen klassenavn

  // Regler for mandag figur
  &.monday {
    @include peachCombo();

    button {
      @include peachCombo(dark);

      [data-theme="dark"] & {
        border: 1px solid $color-peach;
      }
    }
    //Alt efter hvilken dag, skal figuren ligg i den en el. anden side af skærmen
    .img_wrapper {
      justify-content: flex-end;
      left: -60px;

      @media (max-width: 700px) {
        justify-content: center;
      }
    }
  }

  // Regler for tirsdag figur
  &.tuesday {
    @include limeCombo();

    button {
      @include limeCombo(dark);

      [data-theme="dark"] & {
        border: 1px solid $color-lime;
      }
    }

    .img_wrapper {
      justify-content: flex-start;
      left: 60px;
      @media (max-width: 700px) {
        justify-content: center;
      }
    }
  }

  // Regler for onsdag figur
  &.wednesday {
    @include roseCombo();

    button {
      @include roseCombo(dark);
      [data-theme="dark"] & {
        border: 1px solid $color-rose;
      }
    }

    .img_wrapper {
      justify-content: flex-end;
      left: -60px;
      @media (max-width: 700px) {
        justify-content: center;
      }
    }
  }

  // Regler for torsdag figur
  &.thursday {
    @include blueCombo();

    button {
      @include blueCombo(dark);

      [data-theme="dark"] & {
        border: 1px solid $color-blue;
      }
    }

    .img_wrapper {
      justify-content: flex-start;
      left: 60px;
      @media (max-width: 700px) {
        justify-content: center;
      }
    }
  }

  // Regler for fredag figur
  &.friday {
    @include purpleCombo();

    button {
      @include purpleCombo(dark);

      [data-theme="dark"] & {
        border: 1px solid $color-purple;
      }
    }

    .img_wrapper {
      justify-content: flex-end;
      left: -60px;
      @media (max-width: 700px) {
        justify-content: center;
      }
    }
  }
}
