// HER IMPORTERER VI VORES SASS-PARTIALS

// Base
@import "base/typography";
@import "base/variables";
@import "base/extends";
@import "base/mixins";
@import "base/class";

// Components
@import "components/signin";
@import "components/loggedin";
@import "components/submitscreen";
@import "components/infobox";

// Layout
@import "layout/forms";
@import "layout/header";
@import "layout/footer";
@import "layout/main";
@import "layout/tables";

// General main styling

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button,
a {
  cursor: pointer;
}

// Generelt knap-styling
button {
  width: 300px;
  transition: opacity 0.3s ease-in-out;

  @media (min-width: 700px) {
    //Hover virker kun fra 700px og op
    &:hover {
      opacity: 0.7;
    }
  }
}

// log

.display-log {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(172, 170, 170, 0.41);
  z-index: 100;
  padding: 40%;

  .log-container {
    padding-bottom: 30%;
    padding-top: 10%;
    padding-right: 20%;
    padding-left: 20%;
    position: absolute;
    background-color: $color-white;
    z-index: 101;

    .luk {
      margin-bottom: 50px;
      text-align: right;
    }

    .log {
      @extend %grey-border;
      @extend %padding10;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
