// Base
@import "base/typography";
@import "base/variables";
@import "base/extends";
@import "base/mixins";

// Components
@import "components/signin";
@import "components/loggedin";
@import "components/submitscreen";

// Layout
@import "layout/forms";
@import "layout/header";
@import "layout/main";
@import "layout/tables";

// General main styling

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
