// Base
@import "base/typography";
@import "base/variables";

// Components
@import "components/signin";

// Layout
@import "layout/forms";

// General main styling

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
