//------------------------------------------------------------------------------
// CLASS
//------------------------------------------------------------------------------

// Arrow

.arrow {
  font-size: 1.3em;

  &.gotologin {
    margin-right: 1em;
  }

  [data-theme="dark"] & {
    color: $color-white;
  }
}

// color-combo w. days
.monday,
.Mon {
  @include peachCombo();
}

.tuesday,
.Tue {
  @include limeCombo();
}

.wednesday,
.Wed {
  @include roseCombo();
}

.thursday,
.Thu {
  @include blueCombo();
}

.friday,
.Fri {
  @include purpleCombo();
}

.hover-line {
  background-image: linear-gradient($color-black, $color-black);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 0.0625rem;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: background-size 0.35s ease-in-out;

  @media (min-width: 700px) {
    &:hover {
      background-size: 100% 0.0625rem;
    }
  }

  [data-theme="dark"] & {
    background-image: linear-gradient($color-white, $color-white);
    color: $color-white;
  }
}
