//------------------------------------------------------------------------------
// EXTENDS
//------------------------------------------------------------------------------

%padding10 {
  padding: 10px;
}

%grey-border {
  border: 1px solid $color-grey;
}

%grey-button {
  background-color: $color-grey;
  color: $color-white;
}

%base-screen-padding {
  padding-right: 20%;
  padding-left: 20%;

  @media (max-width: 700px) {
    padding-left: 2%;
    padding-right: 2%;
  }
}

%base-screen-padding-submit {
  padding-right: 30%;
  padding-left: 30%;

  @media (max-width: 700px) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

//------------------------------------------------------------------------------
// TRANSITIONER-extends vi har kaldt diverse steder
// Sørger for, at transitionen flyder bedre, når der ændres i data-theme

//Denne forholder sig til, at der sker forandringer i både baggrund og tekstfarve
%data-theme-transition {
  [data-theme] & {
    transition-duration: 0.3s;
    transition-property: background-color color;
  }
}

//Denne forholder sig til, at der sker forandringer kun på baggrund
%data-theme-transition-bg-only {
  [data-theme] & {
    transition-duration: 0.3s;
    transition-property: background-color;
  }
}
