//------------------------------------------------------------------------------
// MIXINS
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// limeCombo

@mixin limeCombo($dark: "") {
  @extend %data-theme-transition;
  background-color: $color-lime;
  color: $color-lime-text;

  // Hvis man kalder mixin'et med parametret dark, bliver farverne omvendt af hinanden
  // Det kunne se sådan ud: @include limeCombo(dark);
  @if $dark == "dark" {
    background-color: $color-lime-text;
    color: $color-lime;
  }

  // Hvis der er darkmode, bliver farven omvendt af hinanden
  [data-theme="dark"] & {
    background-color: $color-lime-text;
    color: $color-lime;
  }
}

//------------------------------------------------------------------------------
// peachCombo

@mixin peachCombo($dark: "") {
  @extend %data-theme-transition;
  background-color: $color-peach;
  color: $color-peach-text;

  @if $dark == "dark" {
    background-color: $color-peach-text;
    color: $color-peach;
  }

  [data-theme="dark"] & {
    background-color: $color-peach-text;
    color: $color-peach;
  }
}

//------------------------------------------------------------------------------
// roseCombo
@mixin roseCombo($dark: "") {
  @extend %data-theme-transition;
  background-color: $color-rose;
  color: $color-rose-text;

  @if $dark == "dark" {
    background-color: $color-rose-text;
    color: $color-rose;
  }

  [data-theme="dark"] & {
    background-color: $color-rose-text;
    color: $color-rose;
  }
}

//------------------------------------------------------------------------------
// blueCombo

@mixin blueCombo($dark: "") {
  @extend %data-theme-transition;
  background-color: $color-blue;
  color: $color-blue-text;

  @if $dark == "dark" {
    background-color: $color-blue-text;
    color: $color-blue;
  }

  [data-theme="dark"] & {
    background-color: $color-blue-text;
    color: $color-blue;
  }
}

//------------------------------------------------------------------------------
// purpleCombo

@mixin purpleCombo($dark: "") {
  @extend %data-theme-transition;
  background-color: $color-purple;
  color: $color-purple-text;

  @if $dark == "dark" {
    background-color: $color-purple-text;
    color: $color-purple;
  }

  [data-theme="dark"] & {
    background-color: $color-purple-text;
    color: $color-purple;
  }
}
