//------------------------------------------------------------------------------
// TYPOGRAPHY
//------------------------------------------------------------------------------

// Her henter vi Signifly's font
@font-face {
  font-family: "Aeonik";
  src: url("Aeonik-Regular.woff2") format("woff2"),
    url("Aeonik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Alt tekst skal anvende denne
* {
  font-family: "Aeonik", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 5em;

  @media (max-width: 700px) {
    font-size: 3em;
  }
}

a {
  text-decoration: none;
  color: black;
}

// Klassen marked, som vi ser på eks. LoggedIn.js og user.js
.marked {
  font-weight: 500;
  text-decoration: underline;
}
