//------------------------------------------------------------------------------
// VARIABLES
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// colors

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #acb0b9;
$color-grey-dark: #444950;
$color-grey-light: #f2f4f8;

$color-rose: #ffdef2;
$color-lime: #e3ff9c;
$color-peach: #ffcfbf;
$color-blue: #ddf9ff;
$color-purple: #b2b0ff;

$color-peach-text: #521f0f;
$color-lime-text: #333346;
$color-rose-text: #620e40;
$color-blue-text: #1f1750;
$color-purple-text: #191760;

[data-theme="light"] {
  background-color: $color-white;
  color: $color-black;
}

// Dark Mode Styles
[data-theme="dark"] {
  background-color: $color-black;
  color: $color-white;
}

[data-theme] {
  transition-duration: 2s;
  transition-property: background-color color;
}
